@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1{
    font-family: 'Poppins', sans-serif;
    padding: 13px;
    top: 13px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 0.516);
    text-shadow: 1px 1px 1px #000;
}
article{
    padding: 40px;
    border-radius: 5px;
    width:50%;
    text-align: right;
    font-size: large;
    right: 100px;
    font-weight: 100;
    font-family: 'poppins', sans-serif;
}
.main_box{
  position: relative;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.sidebar_menu{
  position: fixed;
  top:  0;
  left: 0;
  width: 100%;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.sidebar_menu .logo a{
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}
.sidebar_menu .menu i{
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 5px;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.main_box .btn_one i{
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  position: fixed;
  top: 20px;
  left: 20px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;  
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}
footer{
    position: relative;
font-family: 'poppins' , sans-serif;
font-size: larger;
padding: 20px 20px 20;

}
footer a{
    color: #fff;
    text-decoration: none;
}
